.App {
  margin: 0em;
}


/* nav */
.nav > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
  margin: 1.3% 13%
}
.nav > nav > ul > li {
  margin: auto;
}


/* header */
.header {
  background-color: #494949;
  display: flex;
}
.content {
  margin-left: 16%;
  margin-right: 0%;
  padding: 2em 0em;
}
.content > h1 {
  color: #f4ce14;
  font-size: 40px;
  font-weight: medium;
  margin-bottom: 0%;
}
.content > h3 {
  color: #f4ce14;
  margin-top: 0px;
}
.content > p {
  color: white;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 3em;
}
.button--header {
  background-color: #f4ce14;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 10%
}
.figure--hero {
text-align: center;
}
.img--food {
  width: 25%;
  height:70%;
  margin-top: 7%;
  margin-left: 25%;
}


/* main */
/* specials */

.specials--section {
  margin: 7% 15%;
}
.specials--heading {
  display: flex;
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.specials--heading > button {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1em;
  background-color: #f4ce14;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  font-weight: bold;
}


/* menu card */
  .menuCard {
    width: 19em;
    margin: .2em;
    background-color: rgba(183, 183, 183, 0.777);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .menu--card {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
  }
  .menuCard > .heading {
    display: flex;
    margin: 0px;
    padding: 0em 1em;
  }
  .menuCard > .heading > h4 {
    margin-top: .5em;
  }
  .menuCard > .heading > p {
    color: red;
    margin-top: .5em;
    margin-left: auto;
  }
  .menuCard > p {
    padding: 0em 1em;
    margin: 0px;
  }
  .menuCard > h6 {
    padding-left: 1.5em;
  }
  figure {
    margin: 0px;
  }
  .img--menu {
    width: 100%;
    height: 225px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }


/* testimonials */
  .testimonials {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.227);
    padding: 7% 0%;
  }
  
  .testimonials--card {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 5% 10%;
    flex-wrap: wrap;
  }
  .testimonials--card > .card {
    background-color: grey;
    margin: .5%;
  }
  .card > h6 {
    padding: 1% 6%
  }
  .midCard {
    display: flex;
  }
  .midCard > h6 {
    margin: 2em;
  }
  .div--img {
    background-color: rgba(255, 255, 255, 0.637);
    padding: 2em 2.5em;    
    margin-left: .5em;
    font-size: 18px;
  }


/* about */
  .about {
    display: flex;
  }
  .about--content {
    width: 25em;
    margin-right: 5%;
    margin-left: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
    padding: 3em 0em;
  }
  .about--content > h2 {
    color: #f4ce14;
    margin-bottom: 0px;
  }
  .about--content > h3 {
    margin-top: 0px;
  }
  .img--about {
    width: 25em;
    height: 20em;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 15%;
  }


/* footer */
footer {
  display: flex;
}

.footer {
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.227);
  width: 100%;
  padding: 7% 10%;
}

.footer--img {
  width: 300px;
  height: 200px;
 }

 footer > ul {
  list-style: none;
  justify-content: space-evenly;
 }


/* reservations page */
.reservations {
  background-color: grey;
  padding: .1rem;
}
.reservations--form {
  background-color: rgb(225, 225, 225);
  margin: 5% 20%;
  border-radius: 10px;
  justify-content: center;
}
.reservations--form > h3 {
  text-align: center;
  padding-top: 3rem;
}
.reservations--form > form {
  text-align: center;
  margin: 5% 27%;
}
.reservations--form > form > div {
  margin: 1.5rem auto ; 
  display: flex;
}
.reservations--form > form > div > label {
  font-size: 1rem;
  margin-right: 5%;
}
#fname,
#lname {
  width: 70%;
  font-size: 1rem;
  text-indent: 5px;
  padding: .25rem;
  border-radius: 5px;
  border: none;
}
#lname {
  width: 71%;
  font-size: 1rem;
  text-indent: 5px;
  padding: .25rem;
  border-radius: 5px;
  border: none;
}
#email,
#phone, 
#date,
#time,
#guests,
#occasion {
  font-size: 1rem;
  text-indent: 5px;
  padding: .25rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

select {
  border-radius: 5px;
  font-size: 1rem;
  padding: .25rem;
  width: 100%;
}
option {
  font-size: 1rem;
}
.reservations--form > form > div > button {
  width: 10rem;
  height: 2rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background-color: #f4ce14;
  font-size: .9rem;
  cursor: pointer;
}/*
#fname:valid:required,
#lname:valid:required,
#email:valid:required,
#phone:valid:required, 
#date:valid:required,
#time:valid:required,
#guests:valid:required {
  background-color:  rgba(221, 255, 221, 0.635);
}

#fname:invalid:required,
#lname:invalid:required,
#email:invalid:required,
#phone:invalid:required, 
#date:invalid:required,
#time:invalid:required,
#guests:invalid:required {
  border: red double 1px;
}*/
  
.error {
  color: #ff0000;
  font-size: 0.8rem;
  margin-top: 5px;
  display: block;
}

@media screen and (max-width: 1024px) {
  .content {
    margin-right: 10%;
  }
  .img--food {
    margin-bottom: 20%;
    margin-left: 0%;
    height: 80%;
    width: 40%;
  }
}

@media screen and (max-width: 768px) {

/* nav */
  .header {
    flex-wrap: wrap;
  }

/* hero */
.content {
  margin: 0% 25%;
}
  .figure--hero {
    justify-content: center;  
  }
  .img--food {
    margin-bottom: 20%;
    margin-left: 0%;
    height: 75%;
    width: 35%;
  }

/* about */
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about--content {
    margin: 0px;
    padding-bottom: 10px;
  }
  .img--about {
    margin-bottom: 20%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

/* footer */
  .footer--img {
    margin-top: 10%;
  }
}

@media screen and (max-width: 425px) { 
  .nav > nav > ul {
   padding: 10px;
   font-size: .9rem;
   margin-right: auto;
   margin-left: auto;
  }
  .logo {
    width: 100px;
  }

  /* header */ 
  .content {
    margin-left: 7%;
    margin-right: 15%;
  }
  .content > button {
    width: 10em;
    font-size: 12px;
    padding: 10px;
  }

   /* specials */
   .specials--section {
    margin: 5%;
   }
   .specials--heading > h2 {
    font-size: 22px;
   }
   .specials--heading > button {
    width: 8em;
    font-size: 12px;
    padding: 10px;
   }

   .about--content {
    margin: 10px;
    padding-bottom: 10px;
  }
  .img--about {
    width: 95%;
  }
  /* footer */
  .footer {
    width: 95%;  
}
  .footer--img {
    height: 75%;
    width: 100%;
    margin-top: 15%;
   }

   footer > ul {
    font-size: 10px;
    padding-left: 10px;
    margin: 0px
   }
  
}

@media screen and (max-width: 375px) {

/* nav */
  .nav > nav > ul {
    font-size: .8rem;
   }
   .logo {
    width: 85px;
  }

  /* header */
  .header {
    justify-content: center;
  }

  .img--food {
    width: 10em;
    height: 14em;
  }

  /* about */ 
  .img--about {
    height: 16em;
  }
  /* footer */
  .footer--img {
    width: 95%;
    height: 75%;
   }
  
}
@media screen and (max-width: 320px) {
  
  .logo {
    width: 85px;
  }

  /* about */
  .img--about {
    height: 15em;
  }
  /* header */
  .content {
    margin-right: 5%;
  }
  .img--food {
    width: 9em;
    height: 13em;
  }

  footer > ul {
    font-size: 8px;
   }
}