.App {
  margin: 3em;
}

/* nav */
.nav > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
}
.nav > nav > ul > li {
  margin: auto;
}

/* footer */
.footer {
  justify-content: center;
  display: flex;
}
footer {
  display: flex;
}
 footer > img {
  width: 300px;
  height: 200px;
 }
 footer > ul {
  list-style: none;
  justify-content: space-evenly;
 }

@media screen and (max-width: 425px) {
  .App {
    margin: 1em
  }
  .nav > nav > ul {
   padding: 0px;
   font-size: 12px;
   margin-right: auto;
   margin-left: auto;
  }
  .logo {
    width: 100px;
  }
  
  footer {
    margin: 1em;
    width: 95%;  
}
  footer > img {
    width: 200px;
    height: 100px;
   }
   footer > ul {
    font-size: 10px;
   }
}

