.App {
  margin: 0em;
}

/* nav */
.nav > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0px;
  margin: 1.3% 13%
}
.nav > nav > ul > li {
  margin: auto;
}

/* header */
.header {
  background-color: #494949;
  display: flex;
  
}
.content {
  width: 385px;
  height: 330px;
  margin-left: 16%;
  padding: 2em 0em;
}
.content > h1 {
  color: #f4ce14;
  font-size: 40px;
  font-weight: medium;
  margin-bottom: 0px;
}
.content > h3 {
  color: #f4ce14;
  margin-top: 0px;
}
.content > p {
  color: white;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 3em;
}
.content > button {
  background-color: #f4ce14;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  font-weight: bold;
}
.img--food {
  width: 274px;
  height: 225px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 15%;
}
/* main */
/* specials */

.specials--section {
  margin: 7% 15%;
}
.specials--heading {
  display: flex;
  margin-left: 1em;
  margin-top: 2em;
  margin-bottom: 3em;
}
.specials--heading > button {
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 1em;
  background-color: #f4ce14;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  font-weight: bold;
}
  /* menu card */
  .menuCard {
    width: 330px;
    height: 450px;
    margin: .5em;
    background-color: rgba(183, 183, 183, 0.777);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .menu--card {
    display: flex;
  }
  .menuCard > .heading {
    display: flex;
    margin: 0px;
    padding: 0em 1em;
  }
  .menuCard > .heading > h4 {
    margin-top: .5em;
  }
  .menuCard > .heading > p {
    color: red;
    margin-top: .5em;
    margin-left: auto;
  }
  .menuCard > p {
    padding: 0em 1em;
    margin: 0px;
  }
  .menuCard > h6 {
    padding-left: 1.5em;
  }
  .img--menu {
    width: 100%;
    height: 225px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  /* testimonials */
  .testimonials {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.227);
    padding: 7em 0em;
   
  }
  
  .testimonials--card {
    display: flex;
    justify-content: center;
  }
  .testimonials--card > .card {
    background-color: red;
    width: 10em;
    margin: 1em;
  }
  /* about */
  .about {
    display: flex;
  }
  .about--content {
    width: 385px;
    height: 330px;
    margin-left: 15%;
    padding: 5em 0em;
  }
  .about--content > h2 {
    color: #f4ce14;
    margin-bottom: 0px;
  }
  .about--content > h3 {
    margin-top: 0px;
  }
  .img--about {
    width: 340px;
    height: 300px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 15%;
  }







/* footer */
.footer {
  justify-content: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.227);

}
footer {
  display: flex;
  margin: 7% 15%;
}
 footer > img {
  width: 300px;
  height: 200px;
 }
 footer > ul {
  list-style: none;
  justify-content: space-evenly;
 }

@media screen and (max-width: 425px) {
  .App {
    margin: 1em
  }
  .nav > nav > ul {
   padding: 0px;
   font-size: 12px;
   margin-right: auto;
   margin-left: auto;
  }
  .logo {
    width: 100px;
  }
  
  footer {
    margin:1em;
    width: 95%;  
}
  footer > img {
    width: 200px;
    height: 100px;
   }
   footer > ul {
    font-size: 10px;
    padding-left: 10px;
    margin: 0px
   }
}

@media screen and (max-width: 375px) {
  .nav > nav > ul {
    font-size: 10px;
   }
   .logo {
    width: 85px;
  }
  footer > img {
    width: 180px;
    height: 80px;
   }
  
}
@media screen and (max-width: 320px) {
  .nav > nav > ul {
    font-size: 8px;
   }
  .logo {
    width: 70spx;
  }
  footer > ul {
    font-size: 8px;
   }
}